<div id="player-region" class="player-region">
	<div>
		<audio id="player2" preload="none">
			<source id="mp3_src" src="" type="audio/mp3">
		</audio>
		<div class="player-control">

			<div class="player-control-bottom">

				<div class="controlling-options">
					<!-- <div class="btn" ng-click="mediaPlayer.prev()">
						<i class="fa fa-step-backward"></i>
					</div> -->
					<div class="btn" onclick="document.getElementById('player2').play();">
						<i class="fa fa-play"></i>
					</div>
					<div class="btn" onclick="document.getElementById('player2').pause();">
						<i class="fa fa-pause"></i>
					</div>
					<!-- <div class="btn" ng-click="mediaPlayer.next()">
						<i class="fa fa-step-forward"></i>
					</div> -->

					<!-- <div class="btn btn-noclick">
						<span><i class="fa fa-clock-o"></i>: <span class="badge">{{ mediaPlayer.formatTime }}</span></span>
					</div> -->
					<!-- <div class="btn btn-noclick">
						<span><span class="badge">{{ mediaPlayer.volume * 100 | number:0 }}%</span></span>
					</div> -->
					<div class="btn" (click)="turnDown();">
						<i class="fa fa-volume-down"></i>
					</div>
					<div class="btn btn-noclick" style="min-width: 80px;">
						<span><span class="badge">{{volume}}%</span></span>
					</div>
					<div class="btn" (click)="turnUp();">
						<i class="fa fa-volume-up"></i>
					</div>
					<div class="btn btn-noclick">
						<span id="track-artist"> </span> - <span id="track-title"></span>
					</div>
				</div>

				<div class="song-duration">
					<span id="start-time" class="song-duration-beg"></span>
					<progress id="seek-obj" class="progress" value="0" max="1" style="display:none;"></progress>
					<div class="progress">
						<div id="progress-bar" style="width: 0%;" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<span id="end-time" class="song-duration-end"></span>
				</div>

			</div>

		</div>

	</div>

</div>