a {
  background-color: transparent;
}
a[ng-click] {
  cursor: pointer;
}
.btn-default {
  color: #fff;
}
.btn:hover {
  color: #333;
}
i.fa {
  vertical-align: middle;
  padding: 0 20px;
}
i.fa:hover {
  opacity: 1;
  cursor: hand;
}
.player-region {
	padding: 20px;
	background-color: #333;
}