<header class="fixed">
  <div class="logo-box logo">
    <div class="hidden-sm hidden-xs">
      <img src="../../assets/images/logo_w_title.png" class="img-responsive" />
    </div>

    <div class="hidden-lg hidden-md">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-2x fa-bars"></i>
        </button>
        <img src="../../assets/images/logo_w_title_only.png" class="img-responsive" style="width: 80%;" />
      </div>
    </div>

  </div>
  <nav class="menu-box navbar" ng-app role="navigation">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav menu" ng-click="$event.preventDefault();">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['']">
            <i class="fa fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['music']">
            <i class="fa-music fa"></i>
            <span>Music</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['remixes']">
            <i class="fa-play fa"></i>
            <span>Remixes</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/mixes/progressive']">
            <i class="fa fa-plane"></i>
            <span>Progressive</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/mixes/vocal']">
            <i class="fa fa-microphone"></i>
            <span>Vocal</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/mixes/classics']">
            <i class="fa fa-history"></i>
            <span>Classics</span>
          </a>
        </li>



        <li>
          <a [routerLink]="['shop']">
            <i class="fa fa-shopping-bag"></i>
            <span>Shop</span>
          </a>
        </li>

        <li>
          <a [routerLink]="['contact']">
            <i class="fa fa-envelope"></i>
            <span>Contact</span>
          </a>
        </li>

      </ul>

    </div>

  </nav>



</header>