<div class="section-title" *ngIf="!loading">
  <h2>Who we are</h2>
  <p>Behind the music...we are people.</p>
  <hr>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="../../assets/images/DSC011442_opt.jpg" class="img-responsive img-fluid img-wrapper img-thumbnail m-b-lg" />
  </div>
  <div class="col-xs-12" style="max-width: 1070px;">
    <p>
      <strong>Downgrooves</strong> is a collaboration music project of recording artists
      <strong>Mario &amp; Eric J</strong> based out of Dallas, Texas. The duo has been producing music for over 20 years under the
      aliases
      <strong>Mario &amp; Eric J</strong> and, now,
      <strong>Downgrooves</strong>. The pair appear on a variety of well-established and respected labels such as Soundscapes Digital,
      Source of Gravity, Armada, Incepto Music, Bonzai, Elliptical Sun Recordings, Mistique Music, OLD SQL Recordings, Balkan
      Connection, Emotional Content and many more.
    </p>
    <p>
      Our music is available on
      <a href="https://itunes.apple.com/us/artist/downgrooves/570186506" target="_new">iTunes</a> and
      <a href="https://www.beatport.com/artist/downgrooves/293260" target="_new">Beatport</a>.
    </p>
    <p>
      Downgrooves is available for original tracks and remixes. Please
      <a [routerLink]="['/contact']">contact us</a> using our
      <a [routerLink]="['/contact']">contact form</a>.
    </p>
  </div>
</div>