a {
  background: none;
  padding: 0px;
}
a:hover {
  color: #fff;
}
figure > section {
  height: 100%;
}
i {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 30% 0 0 0;
}

i.fa:hover {
  opacity: 0;
  transition: all 0.5s;
}

/* grid styles ------------------------------------ */
@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .body-container {
    margin: 0 auto;
    width: 75%;
    height: 5;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .banner {
    grid-column: span 2;
  }

  .title {
    grid-column: 3;
  }

  .body {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-color: #333;
    color: white;
  }
  .facebook {
    background-color: #335397;
    grid-column: 3;
  }
  .subtitle {
    background-color: #00c7f7;
    grid-row: 2;
  }

  .contact {
    background-color: #333;
  }

  .available {
    justify-self: center;
    align-self: center;
  }
  .itunes {
    background-color: #6aaaeb;
    grid-column: 2;
    grid-row: 3;
  }

  .itunes i {
    top: 30%;
    transform: translateY(-35%);
  }

  .beatport {
    background-color: #000000;
    grid-column: 3;
    grid-row: 3;
  }

  .beatport img {
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    top: 40%;
    transform: translateY(-35%);
  }

  .fa-beatport {
    background-image: url("../../assets/images/Beatport_Logo_Mark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}
