<main class="main isotope">
  <section class="banner">
    <img src="../../assets/images/DSC011442_opt.jpg" class="img-responsive" />
  </section>
  <figure class="title portfolio-item">
    <section class="hover-bg">
      <div class="hover-text" style="opacity: 1">
        <h4 style="opacity: 1">who we are</h4>
      </div>
    </section>
  </figure>
  <figure class="body portfolio-item">
    <div class="body-container">
      <p>
        <strong>Downgrooves</strong> is a collaboration music project of recording artists
        <strong>Mario &amp; Eric J</strong> based out of Dallas, Texas. The duo has been producing music for over 20 years under
        the aliases
        <strong>Mario &amp; Eric J</strong> and, now,
        <strong>Downgrooves</strong>.
      </p>
      <p>
        The pair appear on a variety of well-established and respected labels such as Soundscapes Digital, Source of Gravity, Armada,
        Incepto Music, Bonzai, Elliptical Sun Recordings, Mistique Music, OLD SQL Recordings, Balkan Connection, Emotional
        Content and many more.
      </p>
    </div>
  </figure>
  <figure class="subtitle portfolio-item">
    <section class="hover-bg">
      <div class="hover-text" style="opacity: 1">
        <h4 style="opacity: 1">Behind the music...we are people.</h4>
      </div>
    </section>
  </figure>
  <figure class="available portfolio-item">
    <section class="hover-bg">
      <div class="hover-text" style="opacity: 1">
        <h4 style="opacity: 1">Our music is available on</h4>
      </div>
    </section>
  </figure>
  <figure class="itunes portfolio-item">
    <section class="hover-bg">
      <a href="https://itunes.apple.com/us/artist/downgrooves/570186506" target="_new">
        <div class="hover-text">
          <h4>itunes.com/downgrooves</h4>
        </div>
        <i class="fa fa-apple fa-5x"></i>
      </a>
    </section>
  </figure>
  <figure class="beatport portfolio-item">
    <section class="hover-bg">
      <a href="https://www.beatport.com/artist/downgrooves/293260" target="_new">
        <div class="hover-text">
          <h4>beatport.com/downgrooves</h4>
        </div>
        <i class="fa fa-beatport fa-5x"></i>
      </a>
    </section>
  </figure>
  <figure class="contact portfolio-item">
    <section class="hover-bg">
      <a [routerLink]="['/contact']">
        <div class="hover-text">
          <h4>contact us</h4>
        </div>
        <i class="fa fa-envelope fa-5x"></i>
      </a>
    </section>
  </figure>

</main>