<div class="section-title">
  <h2>Contact Us</h2>
  <p>Downgrooves is available for original tracks and remixes.</p>
  <hr>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="../../assets/images/IMG_6300_opt.jpg" class="img-responsive img-fluid img-wrapper img-thumbnail m-b-lg center-block"
    />
  </div>
  <div class="col-xs-12 contact-info-container clearfix">
    <ul class="contact-info">
      <!-- <li>
        <i class="fa fa-map-marker"></i>
        <span>Ganzengasse nr 145 / 1725</span>
      </li>
      <li>
        <i class="fa fa-phone"></i>
        <span>1190-456</span>
      </li> -->
      <li>
        <i class="fa fa-envelope-o"></i>
        <span>
          <a href="mailto:ericj@downgrooves.com">ericj@downgrooves.com</a>
        </span>
      </li>
    </ul>
  </div>

  <section class="row text-center">
    <a href="https://www.facebook.com/Downgrooves/" target="_new" class="btn btn-facebook" tooltip-placement="top" tooltip="Contact us on facebook"
      tooltip-append-to-body="true">
      <i class="fa fa-facebook"></i>
    </a>
    <div class="space"></div>
    <a href="https://twitter.com/Downgrooves/" target="_new" class="btn btn-twitter" tooltip-placement="top" tooltip="Contact us on twitter"
      tooltip-append-to-body="true">
      <i class="fa fa-twitter"></i>
    </a>
    <div class="space"></div>

    <a href="https://www.soundcloud.com/Downgrooves/" target="_new" class="btn btn-soundcloud" tooltip-placement="top" tooltip="Contact us on soundcloud"
      tooltip-append-to-body="true">
      <i class="fa fa-soundcloud"></i>
    </a>
    <div class="space"></div>
    <a href="https://www.youtube.com/channel/UCBdt53d5ez75y32pzkqbTMw?view_as=subscriber" target="_new" class="btn btn-youtube"
      tooltip-placement="top" tooltip="Contact us on youtube" tooltip-append-to-body="true">
      <i class="fa fa-youtube"></i>
    </a>
  </section>



</div>