<div class="portfolio-box">
  <isotope-grid [options]="{ itemSelector: '.portfolio-item' }">
    <isotope-item *ngFor="let mix of mixes">
      <div class="col-sm-3 {{mix.Category}}">
        <div class="hover-bg item-img-wrap">
          <a [routerLink]="'/mix/' + [mix.Name | urlFormat]">
            <div class="hover-text">
              <h4>{{mix.artist}} - {{mix.Name}}</h4>
            </div>
            <img src="../../assets/images/mixes/{{mix.attachment}}" class="img-responsive" alt="{{ mix.attachment }}"> </a>
        </div>
      </div>
    </isotope-item>
  </isotope-grid>
</div>

<!-- <div class="portfolioFilter">

  <a href="#" data-filter="*" class="current">All</a>
  <a href="#" data-filter=".vocal">Vocal</a>
  <a href="#" data-filter=".progressive">Progressive</a>
  <a href="#" data-filter=".classics">Classics</a>

</div>
<div class="grid">
  <div class="grid-item">...

  </div>
  <div class="grid-item grid-item--width2">...

  </div>
  <div class="grid-item">...

  </div>
</div> -->

<!-- <div class="text-center">
  <p class="lead" *ngIf="loading">
    <app-loading></app-loading>
  </p>
</div>
<div class="section-title" *ngIf="!loading">
  <h2>Mixes</h2>
  <p>Album-length DJ mixes from Mario and Eric J.</p>
  <hr>
</div>
<div class="categories">
  <ul class="cat">
    <li>
      <ol id="categories" class="type" ng-click="$event.preventDefault();">
        <li>
          <a [routerLink]="['/mixes']">All</a>
        </li>
        <li>
          <a [routerLink]="['/mixes/progressive']">Progressive House</a>
        </li>
        <li>
          <a [routerLink]="['/mixes/vocal']">Vocal</a>
        </li>
        <li>
          <a [routerLink]="['/mixes/classics']">Classics</a>
        </li>
      </ol>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let mix of mixes">
    <div class="portfolio-item {{mix.Category}}">
      <div class="hover-bg">
        <a [routerLink]="'/mix/' + [mix.Name | urlFormat]">
          <div class="hover-text">
            <h4>{{mix.artist}} - {{mix.Name}}</h4>
          </div>
          <img src="../../assets/images/mixes/{{mix.attachment}}" class="img-responsive" alt="{{ mix.attachment }}"> </a>
      </div>
    </div>
  </div>
</div> -->