
<div id="portfolio" class="grid">
  <div class="grid-sizer"></div>
  <isotope-grid [options]="isoOptions">
    <ng-container *ngFor="let mix of mixes | async">
      <isotope-item class="grid-item {{mix.Category}} hover-bg">
        <a [routerLink]=" '/mix/' + [mix.Name | urlFormat] ">
          <div class="hover-text ">
            <h4>{{mix.artist}} - {{mix.Name}}</h4>
          </div>
          <img src="../../assets/images/mixes/{{mix.attachment}} " class="img-responsive " alt="{{ mix.attachment }} ">
        </a>
      </isotope-item>
    </ng-container>
  </isotope-grid>
</div>