a {
  background: none;
  padding: 0px;
}
.grid-sizer,
.grid-item {
  width: 15%;
}

.grid-item {
  float: left;
}
.grid-item--width2 {
  width: 50%;
}

@media (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .grid-sizer {
    width: 50%;
  }
}

.category {
  padding: 40px;
  background-color: #333;
  color: white;
  overflow: hidden;
}
