<div *ngIf="album">
  <div class="row" style="padding-bottom: 30px;">
    <div class="col-md-4 text-right album-info">
      <img
        src="{{ album.artworkUrl100 | enlargeImage }}"
        class="cover img-responsive img-thumbnail m-b-lg"
        alt="{{ album.name }}"
      />
      <h4 class="album-title hidden-lg">{{ album.collectionName }}</h4>
      <h4 class="m-b-lg" style="line-height: 44px;">
        <span class="h3">by </span>
        <a href="{{ album.artistViewUrl }}">{{ album.artistName }}</a>
      </h4>

      <p style="padding: 10px 0;">
        <button
          class="btn"
          (click)="buy(album.collectionViewUrl)"
          target="_new"
          data-cy="itunes-button"
        >
          <i class="fa fa-shopping-cart"></i> Buy on iTunes
        </button>
      </p>

      <h3>{{ formattedReleaseDate }}</h3>
    </div>
    <div class="col-md-8">
      <div class="hover-text">
        <h1 class="hidden-xs hidden-sm">
          <strong>{{ album.collectionName }}</strong>
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <ng-container *ngFor="let t of tracks">
              <tr *ngIf="t.trackName">
                <td class="hover-text" style="width: 35px;">
                  <button class="btn" (click)="playTrack(t)">
                    <!-- <i class="fa fa-play" style="font-size: 13px;"></i>  -->
                    <span>{{ t.trackNumber }}</span>
                  </button>
                </td>
                <td class="hover-text">
                  <strong>{{ t.trackCensoredName }}</strong>
                  <br />
                  <p class="small hover-text">{{ t.artistName }}</p>
                </td>
                <td>
                  <span class="pull-right">
                    {{ t.trackTimeMillis | formatTrackTime }}
                  </span>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a [routerLink]="['/music']">&lt;--back</a>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
