<div class="section-title" *ngIf="!loading">
  <h2>Shop</h2>
  <p>Where you can buy our music online.</p>
  <hr>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="../../assets/images/fgc-wallhaven-169171_opt (3).jpg" class="img-responsive img-fluid img-wrapper img-thumbnail m-b-lg"
    />
  </div>
  <div class="col-xs-12 contact-info-container clearfix">

    <ul class="contact-info">
      <li>
        <i class="fa fa-apple"></i>
        <a href="https://itunes.apple.com/us/artist/downgrooves/570186506" target="_new">
          iTunes
        </a>
      </li>
      <li>
        <i class="fa fa-headphones"></i>
        <a href="https://www.beatport.com/artist/downgrooves/293260" target="_new">
          Beatport
        </a>
      </li>
      <li>
        <i class="fa fa-soundcloud"></i>
        We also have some
        <a href="http://soundcloud.com/downgrooves" target="_blank">free music on our Soundcloud page</a>.
      </li>
    </ul>
  </div>
</div>