/* You can add global styles to this file, and also import other style files */
/*************************************** base ********************************/
html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #333 !important;
  max-width: 1600px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: 0 !important;
}

iframe {
  border: none;
  width: 100%;
}

a {
  color: #fff;
  background-color: #34352f;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

p {
  color: #dcdcdc;
  font-size: 90%;
  font-weight: 500;
  margin-bottom: 1em;
}

hr {
  width: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
.h3,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

textarea {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

/************************************ layout ************************************/
#container {
  height: 100%;
  opacity: 0;
  background: rgb(84, 208, 221);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(84, 208, 221, 1) 0%,
    rgba(84, 208, 221, 1) 0%,
    rgba(84, 208, 221, 1) 0%,
    rgba(113, 119, 125, 1) 0%,
    rgba(65, 74, 82, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(84, 208, 221, 1) 0%,
    rgba(84, 208, 221, 1) 0%,
    rgba(84, 208, 221, 1) 0%,
    rgba(113, 119, 125, 1) 0%,
    rgba(65, 74, 82, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(84, 208, 221, 1) 0%,
    rgba(84, 208, 221, 1) 0%,
    rgba(84, 208, 221, 1) 0%,
    rgba(113, 119, 125, 1) 0%,
    rgba(65, 74, 82, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54d0dd', endColorstr='#414a52', GradientType=0);
  /* IE6-9 */
  transition: all 0.17s ease-in-out;
  -moz-transition: all 0.17s ease-in-out;
  -webkit-transition: all 0.17s ease-in-out;
  -o-transition: all 0.17s ease-in-out;
}

#container.active {
  opacity: 1;
}

#content {
  position: absolute;
  left: 260px;
  width: auto;
  height: 100%;
  bottom: 0;
  overflow-y: auto;
  right: 0;
}

.inner-content {
  height: 100%;
  padding-bottom: 110px;
}

button.btn,
button.btn:hover,
button.btn:focus {
  color: #fff;
  background-color: #333;
  opacity: 1;
  transition: none;
}

.btn {
  background-color: transparent; /* Blue background */
  border: 0; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

header {
  display: block;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #242b2e;
  text-align: left;
  z-index: 4;
  position: absolute;
}

.title {
  text-transform: uppercase;
  margin-top: 0px;
}

.subtitle {
  color: #313338;
  font-family: "Crete Round", serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0px;
}

.load_circle_wrapper.loaded,
.loader.loaded,
.page-loading-overlay.loaded {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
}

.page-loading-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1000;
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  perspective: 10000px;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.load_circle_wrapper.loaded,
.loader.loaded,
.page-loading-overlay.loaded {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
}

.load_circle_wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  z-index: 1002;
}

.loading_spinner {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.inner,
.outer {
  -webkit-animation: spin 1s infinite;
  -moz-animation: spin 1s infinite;
  -ms-animation: spin 1s infinite;
  -o-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

.loading {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0.5em;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 5px solid transparent;
  border-top-color: #1fae5b;
  border-bottom-color: #1fae5b;
  border-radius: 50%;
}

/************************************ modules ************************************/

/* error info */
.error-info {
  background-color: #333;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  padding: 0 40px;
}

.error-info a {
  color: #ff9900;
}

.error-info1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
  background-color: #615655;
  padding: 0 40px;
}

.error-info2 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
  background-color: #333;
  padding: 0 40px;
}

.error-info3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 5;
  padding: 0 40px;
}

/* portfolio box & hover */

.img-thumbnail {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.figure-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.portfolio-box .col-sm-3 {
  padding: 0px !important;
  width: 25% !important;
}

.item-img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.portfolio-item .hover-bg {
  /* height: 195px; */
  overflow: hidden;
  position: relative;
}

.hover-text {
  margin: 0 auto;
  color: #ffffff;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg .hover-text > i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text > i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

.itunes {
  background-color: #615655;
  grid-column: 1;
  grid-row: 4;
}

.itunes i {
  top: 35%;
  transform: translateY(-35%);
}

.beatport {
  background-color: #000000;
  grid-column: 1;
  grid-row: 5;
}

.beatport img {
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  top: 40%;
  transform: translateY(-35%);
}

.fa-beatport {
  background-image: url("assets/images/Beatport_Logo_Mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

/* .player-region {
  height: 100px;
  position: fixed;
  bottom: 0;
  border-top: solid 1px #aaa;
  z-index: 1000;
  background-color: #000;
  width: 100%;
} */
/************************************ state ************************************/

/************************************ themes ************************************/

ul.menu > li a:hover,
ul.drop-down li a:hover,
div.filter-box ul li a:hover,
div.filter-box ul li a.active,
a.elemadded {
  background-color: #336699 !important;
}
