/* a {
  background: none;
  padding: 0px;
  text-decoration: none;
}

figure > section {
  height: 100%;
}

p.figure-row {
  padding: 0 0 20px 0;
  border-bottom: dotted 1px #615655;
  margin: 20px 0;
} */
/*
i {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 30% 0 0 0;
}

i.fa:hover {
  opacity: 0;
  transition: all 0.5s;
} */

/* grid styles ------------------------------------ */
@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: repeat(5, 250px);
  }

  .info1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .info2 {
    grid-column: span 2;
  }

  .figure0 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
  }

  .figure1 {
    grid-column: 3;
    grid-row: 1;
  }
  .figure2 {
    grid-row: 2;
    grid-column: 3;
  }
  .figure3 {
    grid-row: 3;
  }
  .figure4 {
    grid-row: 3;
  }
  .figure5 {
    grid-column: 1;
    grid-row: 3;
  }
  .figure6 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
  }
  .figure7 {
    grid-column: span 2;
  }
}

.info1,
.info2,
.info3 {
  padding: 40px;
  background-color: #333;
  color: white;
  overflow: hidden;
}

.info2 {
  grid-column: 4 / span 2;
  grid-row: 3;
}

.info3 {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}

.itunes {
  background-color: #615655;
  grid-column: 1;
  grid-row: 4;
}

.itunes i {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}

.beatport {
  background-color: #000000;
  grid-column: 1;
  grid-row: 5;
}

.beatport img {
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  top: 40%;
  transform: translateY(-35%);
}

.fa-beatport {
  background-image: url("../../assets/images/Beatport_Logo_Mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
