<main class="main">
  <section class="info1">
    <h2>Feed</h2>
    <p *ngFor="let p of posts">
      <a href="{{ p.permalink_url }}" target="_new">
        {{ p.message }}
      </a>

    </p>
    <a href="#" class="info-link">Learn more...</a>
  </section>
  <figure class="figure{{i}}" *ngFor="let track of tracks; index as i" [attr.data-index]="i">
    <a [routerLink]="['/music/' + track.collectionId, track.trackCensoredName | urlFormat]">

      <img class="figure-img" src="{{ track.artworkUrl100 | enlargeImage }}" alt="{{ track.trackCensoredName }}">
    </a>
  </figure>
  <section class="info2">
    <h2>Who we are</h2>
    <p>
      <strong>Downgrooves</strong> is a collaboration music project of recording artists
      <strong>Mario &amp; Eric J</strong> based out of Dallas, Texas.</p>
    <a [routerLink]="['/about']" class="info-link">about us...</a>
  </section>

</main>