<main class="main">
  <section class="info1">
    <h2>Original Tracks</h2>
    <p>Music created by Downgrooves</p>
  </section>
  <section class="info2">

  </section>
  <section class="info3">

  </section>
  <!-- <figure class="itunes portfolio-item">
    <section class="hover-bg">
      <a href="https://itunes.apple.com/us/artist/downgrooves/570186506" target="_new">
        <div class="hover-text">
          <h4>find us on itunes</h4>
        </div>
        <i class="fa fa-apple fa-5x"></i>
      </a>
    </section>
  </figure>
  <figure class="beatport portfolio-item">
    <section class="hover-bg">
      <a href="https://www.beatport.com/artist/downgrooves/293260" target="_new">
        <div class="hover-text">
          <h4>find us on beatport</h4>
        </div>
        <i class="fa fa-beatport fa-5x"></i>
      </a>
    </section>
  </figure> -->
  <figure class="figure{{i}}" *ngFor="let track of originals; index as i" [attr.data-index]="i">
    <a [routerLink]="['/music/' + track.collectionId, track.trackCensoredName | urlFormat]">
      <!-- <div class="hover-text">
        <h4>{{ track.artistName }}
          <br/> {{ track.trackCensoredName }}</h4>
      </div> -->
      <img class="figure-img" src="{{ track.artworkUrl100 | enlargeImage }}" alt="{{ track.trackCensoredName }}">
    </a>
  </figure>


</main>


<!-- <div class="section-title">
  <h2>Original Tracks</h2>
  <p>Music created by Downgrooves</p>
  <hr/>
</div>
<div class="row">
  <div class="portfolio-items isotope">

    <div class="col-sm-6 col-md-3 col-lg-3 web isotope-item" *ngFor="let track of originals">
      <div class="portfolio-item">
        <div class="hover-bg">
          <a [routerLink]="[track.collectionId, track.trackCensoredName | urlFormat]">
            <div class="hover-text">
              <h4>{{ track.artistName }}
                <br/> {{ track.trackCensoredName }}</h4>
            </div>
            <img src="{{ track.artworkUrl100 | enlargeImage }}" class="img-responsive" alt="{{ track.trackCensoredName }}">
          </a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <br/>
    <br/>
    <div class="clearfix"></div>
    <div class="col-xs-12">
      <h2>Remixes</h2>
      <p>Music created by others and remixed by Downgrooves</p>
      <hr/>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 web isotope-item" *ngFor="let track of remixes">
      <div class="portfolio-item">
        <div class="hover-bg">
          <a [routerLink]="[track.collectionId, track.trackCensoredName | urlFormat]">
            <div class="hover-text">
              <h4>{{ track.artistName }}
                <br/> {{ track.trackCensoredName }}</h4>
            </div>
            <img src="{{ track.artworkUrl100 | enlargeImage }}" class="img-responsive" alt="{{ track.trackCensoredName }}">
          </a>
        </div>
      </div>
    </div>

  </div>
</div> -->