<main class="main">
  <section class="info1" *ngIf="!error">
    <h2>Original Tracks</h2>
    <p>Music created by Downgrooves</p>
  </section>
  <section class="info2" *ngIf="!error">

  </section>
  <section class="info3" *ngIf="!error">

  </section>
  <ng-container *ngIf="!error">
    <figure class="figure{{i}}" *ngFor="let track of tracks | async; index as i" [attr.data-index]="i">
      <a [routerLink]="['/music/' + track.collectionId, track.trackCensoredName | urlFormat]">
        <!-- <div class="hover-text">
        <h4>{{ track.artistName }}
          <br/> {{ track.trackCensoredName }}</h4>
      </div> -->
        <img class="figure-img" src="{{ track.artworkUrl100 | enlargeImage }}" alt="{{ track.trackCensoredName }}">
      </a>
    </figure>
  </ng-container>
  <ng-container *ngIf="error">
    <section class="error-info">
      <h2>Oops, we could not contact the Apple iTunes servers</h2>
      <p>The iTunes servers appear to be down right now. </p>
      <p>While we wait for them to come up, check out some of our music on
        <a href="https://www.beatport.com/artist/downgrooves/293260" target="_new">Beatport</a>.</p>
    </section>
  </ng-container>
</main>


<!-- <div class="section-title">
  <h2>Original Tracks</h2>
  <p>Music created by Downgrooves</p>
  <hr/>
</div>
<div class="row">
  <div class="portfolio-items isotope">

    <div class="col-sm-6 col-md-3 col-lg-3 web isotope-item" *ngFor="let track of originals">
      <div class="portfolio-item">
        <div class="hover-bg">
          <a [routerLink]="[track.collectionId, track.trackCensoredName | urlFormat]">
            <div class="hover-text">
              <h4>{{ track.artistName }}
                <br/> {{ track.trackCensoredName }}</h4>
            </div>
            <img src="{{ track.artworkUrl100 | enlargeImage }}" class="img-responsive" alt="{{ track.trackCensoredName }}">
          </a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <br/>
    <br/>
    <div class="clearfix"></div>
    <div class="col-xs-12">
      <h2>Remixes</h2>
      <p>Music created by others and remixed by Downgrooves</p>
      <hr/>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 web isotope-item" *ngFor="let track of remixes">
      <div class="portfolio-item">
        <div class="hover-bg">
          <a [routerLink]="[track.collectionId, track.trackCensoredName | urlFormat]">
            <div class="hover-text">
              <h4>{{ track.artistName }}
                <br/> {{ track.trackCensoredName }}</h4>
            </div>
            <img src="{{ track.artworkUrl100 | enlargeImage }}" class="img-responsive" alt="{{ track.trackCensoredName }}">
          </a>
        </div>
      </div>
    </div>

  </div>
</div> -->